root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = tab

[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Trailing whitespace is significant in markdown
[*.md]
trim_trailing_whitespace = false
